

@charset "utf-8";

body {
	font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;
	line-height: 1.4em;
	width: 100%;
	min-width: 1000px;
	max-width: 1366px;
	margin: 0 auto;
	padding: 0;
	background-color: #fff
 }

header {
	display: block;
	float: left;
	width: 100%;
	margin: 10px;
	border-top: 10px solid #00bfff;
	border-bottom: 10px solid #00bfff;
	background-color: #1f87f3
 }

h1 img {
	float: left;
	width: 20%;
	height: 20%;
	padding-right: 150px
 }

header h2 {
	font-size: 1.5em;
	line-height: 1em;
	display: block;
	float: right;
	margin: 30px
 }

header h3 {
	line-height: 1em;
	display: block;
	float: right;
	margin: 30px
 }

header ul {
	font-size: 16px;
	display: inline-block;
	float: left;
	padding: 15px;
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: none;
	border-radius: 10px;
	background-color: #5a9e44;
	box-shadow: 7px 7px 5px #004c99
 }

	header ul a {
		text-decoration: none;
		color: #000
	 }

		header ul a:hover {color: rgba(0,102,0,.8)}

nav ul {
	overflow: hidden;
	margin: 0;
	padding-left: 340px;
	list-style-type: none;
	border-radius: 10px;
	background-color: #5a9e44;
	box-shadow: 7px 7px 5px #606060
 }

nav li {float: left}

	nav li a {
		display: block;
		padding: 14px 16px;
		text-align: center;
		text-decoration: none;
		color: #000
	 }

		nav li a:hover {background-color: #060}

article {
	float: right;
	width: 60%
 }

aside {
	float: left;
	width: 35%;
	margin-top: 1em;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	border: 10px solid #00bfff;
	border-radius: 35px;
	background-color: #1f87f3
 }

	aside p {text-align: left}

.imgframe {
	width: 85%;
	padding: 12px;
	border: 1px solid #999;
	background: #fff;
	box-shadow: 10px 10px 5px #004c99
 }

footer address {
	font: normal small-caps .9em 'Palatino Linotype','Book Antiqua',Palatino,serif;
	clear: both;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	color: #fff;
	color: rgba(0,0,0,.8);
	border-top: 5px solid #060;
	border-bottom: 5px solid #060;
	background-color: #5a9e44
 }

	footer address a {
		text-decoration: none;
		color: #000
	 }

		footer address a:hover {color: rgba(0,102,0,.8)}